{% extends 'base2.html' %}
{% load crispy_forms_tags%}
{% load static %}
{% block content %}
<style>
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000000; /* Warna placeholder */
    }
    ::-moz-placeholder { /* Firefox 19+ */
    color: #000000;
    }
    :-ms-input-placeholder { /* IE 10+ */
    color: #000000;
    }
    :-moz-placeholder { /* Firefox 18- */
    color: #000000;
    }

    </style>

<div class="about_area black_bg" style="height: auto;">
    <div class="gambar">
        <img src="{% static 'atas.png' %}" alt="Logo">
    </div>
    <div class="container">
        <div class="row align-items-center justify-content-center"><h1>Profile</h1>
                <div class="card bg-dark full-height">
                    <div class="row justify-content-center mt-4 mb-4">
                        <div class="col-md-6">
                            <form method="POST" class="form-horizontal">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="d-flex justify-content-center mt-4">
                                    <button type="submit" class="btn btn-danger btn-lg me-2">Save</button>
                                    <a href="{% url 'indexbayar' %}" class="btn btn-danger btn-lg">Kembali</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

