{% extends "base2.html" %}
{% load static %}


{% block content %}
        <!-- slider_area_start -->
        <div class="slider_area">
            <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-12">
                            <div class="slider_text text-center">
                            <!-- <div class="shape_1 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                                    <img src="img/shape/shape_1.svg" alt="">
                                </div>
                                <div class="shape_2 wow fadeInDown" data-wow-duration="1s" data-wow-delay=".2s">
                                    <img src="img/shape/shape_2.svg" alt="">
                                </div>-->
                                <span class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Welcome to</span>
                                <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">SATRIA 4</h3>
                                <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">22 September 2024  &nbsp  & &nbsp    29 September 2024</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider_area_end -->
                <!-- about_area_start  -->
                <div class="about_area black_bg">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="section_title text-center mb-80">
                                    <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s" >Show Your Action</h3>
                                    <p class="wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".4s" > 
                                        Memanggil semua Tim terbaik. <br>
                                        Event SATRIA 4 yang dinantikan kembali tahun ini. <br>
                                        Diadakan dua tahun sekali oleh Korps Paskibra SMAN 1 Tarik sebagai ajang bergengsi untuk menunjukan kreativitas dan keterampilan baris-berbaris
            
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-6">
                                <div class="about_thumb">
                                    <div class="shap_3  wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                                        <img src="static/img/shape/shap_3.svg" alt="">
                                    </div>
                                    <div class="thumb_inner  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
                                        <img src="static/img/about/ban_about.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <div class="about_info pl-68">
                                    <h4 class=" wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">Beli Tiket Sekarang</h4>
                                    <p  class=" wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".6s">Pembelian tiket hanya tersedia melalui website ini. Kami menawarkan pembelian tiket dengan bermacam menu pembayaran. Ikuti petunjuk pembayaran yang tersedia. </p>
                                    <a href="#" class="boxed-btn3  wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".7s">Beli Tiket</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- about_area_end  -->
                <div class="location_information black_bg" data-wow-duration="0.5s" data-wow-delay="0.3s">
                    <div class="brand_area black_bg">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="section_title text-center mb-20">
                                        <h4 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">Thank For Support</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="brand_wrap">
                                        <div class="brand_active owl-carousel">
                                            <div class="single_brand text-center">
                                                <img src="static/img/brand/1.png" alt="">
                                            </div>
                                            <div class="single_brand text-center">
                                                <img src="static/img/brand/2.png" alt="">
                                            </div>
                                            <div class="single_brand text-center">
                                                <img src="static/img/brand/3.png" alt="">
                                            </div>
                                            <div class="single_brand text-center">
                                                <img src="static/img/brand/4.png" alt="">
                                            </div>
                                            <div class="single_brand text-center">
                                                <img src="static/img/brand/5.png" alt="">
                                            </div>
                                            <div class="single_brand text-center">
                                                <img src="static/img/brand/1.png" alt="">
                                            </div>
                                            <div class="single_brand text-center">
                                                <img src="static/img/brand/2.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <!-- performar_area_start  -->
        <div id="informasi" class="performar_area black_bg" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section_title mb-5 text-center">
                            <h3 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".3s">Cara Pembelian</h3>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div  class="single_performer wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                    <div data-tilt class="thumb">
                                        <img src="static/img/performer/ic1.png" alt="">
                                    </div>
                                    <div class="performer_heading">
                                        <h4>1. Lakukan Pembelian di Menu Bayar</h4>
                                        <span>Pastikan anda sudah memiliki akun dan mengisi profile</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div  class="single_performer wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                                    <div data-tilt class="thumb">
                                        <img src="static/img/performer/ic2.png" alt="">
                                    </div>
                                    <div class="performer_heading">
                                        <h4>2. Selesaikan Pembayaran </h4>
                                        <span>Pembayaran tiket dapat dilakukan melalui Alfamart,Indomart,dan Qris</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div  class="single_performer wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                                    <div data-tilt class="thumb">
                                        <img src="static/img/performer/ic3.png" alt="">
                                    </div>
                                    <div class="performer_heading">
                                        <h4>3. Cek di bagian Tiket Saya </h4>
                                        <span>Setelah pemabayaran Tiket akan secara otomatis ditambahkan Ke menu Tiket Saya</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div   class="single_performer wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                                    <div data-tilt class="thumb">
                                        <img src="static/img/performer/ic4.png" alt="">
                                    </div>
                                    <div class="performer_heading">
                                        <h4>4. Tunjukan kode QR</h4>
                                        <span>Tunjukan kode QR kepada panitia pada saat pelaksanaan </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- performar_area_end  -->


        
    
        <div class="program_details_area detials_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section_title text-center mb-80  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
                            <h3>Rangkaian Program</h3>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="program_detail_wrap">
                            <div class="single_propram">
                                <div class="inner_wrap">
                                    <div class="circle_img"></div>
                                    <div class="porgram_top">
                                        <span class=" wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Registrasi</span>
                                        <h4 class=" wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s"> 30 Apr 2024</h4>
                                    </div>
                                    <div class="thumb wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                                        <img src="static/img/program_details/3_1.png" alt="">
                                    </div>
                                    <h4 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">Online</h4>
                                </div>
                            </div>
                            <div class="single_propram">
                                <div class="inner_wrap">
                                    <div class="circle_img"></div>
                                    <div class="porgram_top">
                                        <span class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">Penutupan Registrasi</span>
                                        <h4 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">30 Jun 2024</h4>
                                    </div>
                                    <div class="thumb wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                                        <img src="static/img/program_details/3_2.png" alt="">
                                    </div>
                                    <h4 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">Online</h4>
                                </div>
                            </div>
                            <div class="single_propram">
                                <div class="inner_wrap">
                                    <div class="circle_img"></div>
                                    <div class="porgram_top">
                                        <span class=" wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Pelaksanaan Tingkat SD</span>
                                        <h4 class=" wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">22 Sept 2024</h4>
                                    </div>
                                    <div class="thumb  wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                                        <img src="static/img/program_details/3_4.png" alt="">
                                    </div>
                                    <h4 class=" wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">SMAN 1 Tarik</h4>
                                </div>
                            </div>
                            <div class="single_propram">
                                <div class="inner_wrap">
                                    <div class="circle_img"></div>
                                    <div class="porgram_top">
                                        <span class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">Pelaksanaan Tingkat SMP & SMA</span>
                                        <h4 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">29 Sept 2024</h4>
                                    </div>
                                    <div class="thumb wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                                        <img src="static/img/program_details/3_3.png" alt="">
                                    </div>
                                    <h4 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">SMAN 1 Tarik</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- brand_area_start  -->

        <!-- brand_area_end  -->
        <!--Pricing Start--> 
    <div class="pricing-area black_bg border-none pt-120">
        <div class="container">
            <div class="row">
            <div class="col-lg-12">
                <div class="section_title mb-80 text-center">
                <h3 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".3s">Pilihan Pembelian</h3> </div>
            </div>
            </div>
        
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="row">
                <div class="col-md-6 col-lg-4 wow fadeInUp">  <div class="card mb-4 rounded-3 shadow-sm border-3 ">
                    <div class="card-header py-3 " style="background-color: #000000;">
                        <h4 class="my-0 fw-normal text-white ">Presale 1</h4>  </div>
                    <div class="card-body text-white" style="background-color: #232323; padding-top: 0px;">
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Harga Tiket SD  </li>
                            <h1 class="card-title pricing-card-title">Rp.10.000<small class="text-warning">,00</small></h1>
                        </ul>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Harga Tiket SMP/SMA  </li>
                            <h1 class="card-title pricing-card-title">Rp.10.000<small class="text-warning">,00</small></h1>
                        </ul>
                        <a href="#" class="col-xl-12 boxed-btn3 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".7s">beli</a>
                    </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInDown">  <div class="card mb-4 rounded-3 shadow-sm border-3 ">
                    <div class="card-header py-3 " style="background-color: #000000;">
                        <h4 class="my-0 fw-normal text-white ">Gelombang 2</h4>  </div>
                    <div class="card-body text-black" style="background-color: #ffffff;">
                        <h1 class="card-title pricing-card-title" >Rp.15.000<small class="text-warning">,00</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                        <li>Untuk Pembelian Ideal  </li>
                        <li>Untuk pembelian awal Bulan Juli sampai dengan Bulan Akhir Bulan Juli 2024</li>
                        </ul>
                        <a href="#" class="col-xl-12 boxed-btn3 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".7s">beli</a>
                    </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp">  <div class="card mb-4 rounded-3 shadow-sm border-3 ">
                    <div class="card-header py-3 " style="background-color: #000000;">
                        <h4 class="my-0 fw-normal text-white ">Gelombang 3</h4>  </div>
                    <div class="card-body text-white" style="background-color: #232323;">
                        <h1 class="card-title pricing-card-title">Rp.18.000<small class="text-warning">,00</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                        <li>Untuk Pembelian Offline  </li>
                        <li>Untuk pembelian langsung di tempat tikect pada saat acara berlangsung</li>
                        </ul>
                        <a href="#" class="col-xl-12 boxed-btn3 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".7s">beli</a>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
